@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
html {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}

.col {
    display: flex;
    height: 450px;
    margin-left: 200px;
    margin-top: 85px;
}

.col1, .col2, .col3 {
    color: hsla(0, 0%, 100%, 0.75);
    width: 200px;
    padding: 45px;
}

.col1 {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.col2 {
    background-color: hsl(184, 100%, 22%);
}

.col3 {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

p {
    word-spacing: 2px;
    list-style: none;
    font-size: 15px;
    padding-bottom: 60px;
    line-height: 25px;
}

#heading {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 13px;
    width: 130px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

#b1 {
    color: hsl(31, 77%, 52%);
    transition: background-color 1s,border 1s;
}

#b2 {
    color: hsl(184, 100%, 22%);
    transition: background-color 1s,border 1s;
}

#b3 {
    color: hsl(179, 100%, 13%);
    transition: background-color 1s,border 1s;
}

#b1:hover, #b2:hover, #b3:hover{
    cursor: pointer;
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 2px hsl(0, 0%, 95%); 
    border-style: solid;
    border-radius: 20px;
}